/*
60 of #444F0E
30 of #AABA53
10 of #BA6325
*/

:root {

    /* var(--primaryColor) */
    --primaryColor: #444F0E;

    /* var(--primaryColor) */
    --secondaryColor: #C4D961;

    /* var(--primaryColor) */
    --accentyColor: #403329;

}