/*
60 of ##E3CD9F
30 of #AABA53
10 of #BA6325
*/

:root _ {

    /* var(--primaryColor) */
    --primaryColor: #E3CD9F;

    /* var(--primaryColor) */
    --secondaryColor: #AABA53;

    /* var(--primaryColor) */
    --accentyColor: #BA6325;

}